.teaser-box {
    margin: 5px;
    padding: 20px;
    min-width: 400px;
    width: 400px;
    display: block;
    background-color: white;
}
.topic {
    color: dodgerblue;
}

.headline {
    font-size: 2em;
    min-height: 100px;
}

img {
    max-height: 300px;
    max-width: 400px;

}